/* MAIN PAGE */

.container-1{

    padding-top: 75px;
}

.box{

    border: 2px solid rgb(107, 168, 15);
    height: 500px;
    background-color: black;
    margin: 75px;
    



}

.mtxt{


    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(41, 41, 41);
}


.mtxtlist{

    color: rgb(163, 163, 163);
    font-size: 15px;
    word-spacing: 2px;
}

.price{


    color: white;
    font-weight:600;
    text-align: left;
    padding-top: 20px;
    padding-left: 13px;
}

.readmore{


    color: rgb(6, 155, 6);
    padding-left:13px ;
    font-weight:600;
    

}

#last{


    padding-bottom: 100px;
}


/* RAZER */

.header{

    
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: green;
    font-family:Verdana;
    border: 2px solid rgb(17, 66, 19);
    

}


.viper{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:1000px;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;

}


.container{


    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
   

}

.row{


    padding-bottom: 60px;

}


.hr{

    border: 1.5px solid white;

}

.backbtn{


   
    width: 200px;
    height: 50px;
   
    

}


